.hero {
    background: url(../../../assets/hero-back.png) center no-repeat;
    background-size: cover;
    &__inner {
        justify-content: space-between;
    }
    &__description {
        padding: 122px 0 90px;
    }
   &__title {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 72px;
    line-height: 85px;
    color: #000000;
   }
   &__info {
       padding: 100px 0 30px 35px;
       span {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: #423B32;
       }
   }
   &__text-1 , 
   &__text-2 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    color: #423B32;
   }
   &__text-2 {
       margin: 20px 0 22px;
   }
   &__btn {
        margin-top: 32px;
        background-color: #060606;
        outline: none;
        border-radius: 30px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        padding: 20px 70px;
        cursor: pointer;
        transition: 0.3s;
        border: 1px solid black;
    &:hover {
        color: black;
        background-color: white;
    }
   }
}
