.trend {
    position: relative;
    margin-bottom: 200px;
    &__inner {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
    }
    &__info {
        padding: 98px 66px 118px 63px;
        &-text {
            margin: 24px 0 31px;
        }
        &-date {
            margin-right: 130px;
        }
    }
    &__title {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 47px;
        color: #000000;
    }
    &__img {
        padding: 24px 20px 18px 0;
    }
    &__line-1 ,
    &__line-2 ,
    &__line-3 {
        position: absolute;
        animation: lines 6s infinite linear;
    }
    &__line-1 {
        top: 0;
        left: 40px;
    }
    &__line-2 {
        left: 40px;
        top: 253px;
    }
    &__line-3 {
        bottom: -79px;
        left: 95px;
    }
    @keyframes lines {
        0% {
        stroke-dashoffset: 0;
        stroke-dasharray: 655;
        }
        50% {
        stroke-dashoffset: 1310;
        }
        100% {
        stroke-dashoffset: 650; 
        }
    }
    &__miniline-1 ,
    &__miniline-2 ,
    &__miniline-3 {
        position: absolute;
        animation: lines 5s infinite linear;
    }
    &__miniline-1 {
        right: 60px;
        bottom: 100px;
    }
    &__miniline-2 {
        right: 40px;
        bottom: 40px;
    }
    &__miniline-3 {
        right: 40px;
        bottom: -45px;
    }
}