@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,300;1,900&family=Roboto&display=swap');

body {
    margin: 0;
    font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
p,
ul {
    margin: 0;
    box-sizing: border-box;
}
div {
    box-sizing: border-box;
}
ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 0;
}
img {
    max-width: 100%;
}
.container {
    max-width: 980px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-6 {
    width: 50%;
}
.col-4 {
    width: 32.23%;
}
.col-3 {
	width: 25%;
}
.col-5{
    width: 40%;
}
.col-7{
width: 60%;
}
.col-8{
    width: 66.66%;
}
.text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: black;
}
.date {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: black;
}
.description {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: black;
}
.button ,
.button-2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    outline: none;
    padding: 12px 26px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
}
.button {
    color: #FFFFFF;
    background-color: black;
    border: 1px solid black;
    &:hover {
        color: black;
        background-color: white;
    }
}
.button-2 {
    color: black;
    background-color: white;
    border: none;
    &:hover {
        color: white;
        background-color: black;
    }
}